<div class="profilepic">	
	<script src="{{ root_url }}/javascripts/md5.js"></script>
	<script type="text/javascript">
		document.write("<img src='http://daotin.com/data/attachment/group/9d/group_10524_yuntu_src.jpg' alt='Profile Picture' style='width: 160px;' />");
	</script>
</div>
<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
<p class="subtitle">{{ site.subtitle }}</p>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="sub-nav">
	<div class="social">
		{% if site.weibo_user %}
		<a class="weibo" href="http://www.weibo.com/{{ site.weibo_user }}" title="Weibo">Weibo</a>
		{% endif %}
		{% if site.github_user %}
		<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
	</div>
</nav>
{% include custom/header.html %}
